<div class="body-border">
  <row>
    <columns>
    <h3>Hello <span style="color:#00BFFF;">Pius Lucky</span>,</h3>
      <spacer size="32"></spacer>
      <spacer size="16"></spacer>
      <h4>Message from {{emailFrom}} with fullname&nbsp;<em><span style="color: #00BFFF;">{{name}}</span></em></h4>
      <p>
    <p align="middle"><em>{{subject}}</em></p>
          <hr>  
    <p align="middle"><b>Below is the content: </b></p>
    <br>
    <p>{{message}}</p>
    <br>
    <small><b>for tracking purposes, this message was sent <em>{{timestamp}} UTC</em> and you were contacted through the contact form on your personal portfolio. enjoy!</b></small>
    </p>
      <center>
        Regards,
        {{name}}.
      </center>

    </columns>
  </row>

  <spacer size="16"></spacer>
</div>